manifest {
  name = 'ion-mob-ms'
  author = 'Anubhav'
  homePage = 'https://github.com/PNNL-CompBio/ion-mob-ms.git'
  description = 'workflow for analyzing Ion Mobility Mass-Spectrometry data'
  mainScript = 'single_field.nf'
}

params {
    /* 	Containers */   
    container_msconvert = "proteowizard/pwiz-skyline-i-agree-to-the-vendor-licenses:latest"     
    container_r= "r-base:latest"
    container_ccs_comparison = "anubhav0fnu/ccs_comparison:latest"   
    container_pnnl_preprocessor = "anubhav0fnu/pnnl_preprocessor:latest"
    container_mzmine = "anubhav0fnu/mzmine:latest"          
    container_autoccs = "anubhav0fnu/autoccs:latest"   
}


profiles {
  // Enables Docker
  docker {
    docker.enabled = true
  }
}

trace {
    enabled = false
    fields = 'task_id, name, status, exit, module, submit, start, complete, duration, realtime, %cpu, rss, vmem, peak_rss, peak_vmem'
}

timeline {
  enabled = false
}

report {
  enabled = false
}

dag {
  enabled = false
}
